.chat-input{
  border: none;
  border-bottom: 1px solid white;
  outline: none;
  background: transparent;
  color: white;
  width: 100%;
  padding-top: 4em;
  padding-left: 0.125rem;
  margin-bottom: -0.125rem;
}
.chat-message{

}
.from-user{
  text-align: left;
  float:left;
  margin-left: 10px;
  margin-bottom: 10px;
  border-radius: 30px 30px 30px 1px;
  border: 1px solid #ed431f;
  padding: 10px;
  /*width: 100%;*/
  /*background-color: red*/
}

.from-watson{
  text-align: right;
  float:right;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 30px 30px 1px 30px;
  border: 1px solid #ed431f;
  padding: 10px;
  /*width: 100%;*/
  /*background-color: blue*/
}

#rcorners {
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 10px;
}
